body {
    background: #D1EBED;
    overflow-x: hidden;
}

.rania{
  font-family: Playfair Display;
  font-variant: small-caps;
  line-height: 100%;
  font-size: 2vw;
  letter-spacing: 0.2em;
  font-weight: bold;
  color: #575757;
  text-align: center;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.col-sm-4{
  font-family: Playfair Display;
  font-variant: small-caps;
  line-height: 100%;
  font-size: 1.5vw;
  letter-spacing: 0.2em;
  font-weight: bold;
  color: #575757;
  text-align: center;
  margin-top: 2vw;
  margin-bottom: 2vw;
  border-style: double;
}

#activityName{
  margin-top: 1vw;
  font-size: 2.5vw;
}

.form-group{
  font-family: Playfair Display;
}

.create{
  font-family: Playfair Display;
  font-variant: small-caps;
  line-height: 100%;
  font-size: 1.5vw;
  letter-spacing: 0.2em;
  font-weight: bold;
  color: #575757;
}

.form-row{
  margin-top: 1vw;
  margin-bottom: 1vw;
}

label{
  margin-top: 1vw;
  margin-bottom: 0,7vw;
}

#header {
    width: 100vw;
    height: 5vw;
    left: 0px;
    top: 0px;
    background: #F2F2F2;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bunga {
    opacity: 0.5;
    width: 32vw;
    height: 30vw;
}

#nama {
    position: absolute;
    font-family: Playfair Display;
    font-variant: small-caps;
    line-height: 100%;
    font-size: 10vw;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    color: #575757;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* @media(max-width:1000px){
  #nama{
    font-size: 50px;
  }
} */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}

.navbar > a {
    margin: 0px 20px;
    font-family: Playfair Display;
    font-variant: small-caps;
    line-height: 100%;
    font-size: 1.4vw;
    letter-spacing: 0.2em;
    font-weight: bold;
    color: #575757;
    z-index: 2;
}
/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
.left {
  left: 0;
  background-color: #D1EBED;
}
  
  /* Control the right side */
.right {
  right: 0;
  background-color: #F2F2F2;
}

 /* Control the right side */
.right2 {
  right: 0;
  background-color: #D1EBED;
}

  /* Center the content horizontally and vertically */
.centered {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
  
  /* Style the image inside the centered container */
.centered img {
  width: 18vw;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  object-fit: contain;
  margin-bottom: 2vw;
  margin-top: 5vw;
}

#about {
  font-family: Playfair Display;
  line-height: 120%;
  font-size: 1.2vw;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  width: 42vw;
  height: 10vw;
  font-weight: bold;
  color: #707070;
}

.titleleft {
  position: absolute;
  top: 50%;
  left: 32%;
  transform: translate(-50%, -50%);
  text-align: center;

  font-family: Playfair Display;
  line-height: 120%;
  font-size: 10vw;
  align-items: center;
  letter-spacing: 0.1em;
  color: #575757;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-variant: small-caps;
}

.titleright{
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    text-align: center;

    font-family: Playfair Display;
    line-height: 120%;
    font-size: 9vw;
    align-items: center;
    letter-spacing: 0.1em;
    color: #575757;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-variant: small-caps;
  }

.position{
    font-family: Playfair Display;
    line-height: 120%;
    font-size: 1.3vw;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    /* width: 520px; */
    font-weight: bold;
    color: #575757;
    margin-top: 45px;
    margin-bottom: 5px;
}

.explanation{
  font-family: Playfair Display;
  line-height: 120%;
  font-size: 1.1vw;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  width: 40vw;
  height: 5vw;
  padding-left: 2vw;
}

#year {
  position: absolute;
  font-family: Playfair Display;
  line-height: 120%;
  font-size: 10vw;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: #575757;
  opacity: 0.2;
  margin-left: 120px;
}

.position2{
  font-family: Playfair Display;
  line-height: 120%;
  font-size: 1.5vw;;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  width: 520px;
  font-weight: bold;
  color: #575757;
  margin-top: 45px;
  margin-bottom: 5px;
}

.explanation2{
  font-family: Playfair Display;
  line-height: 120%;
  font-size: 1.2vw;;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  width: 520px;
}

#rose {
  position: absolute;
  opacity: 0.05;
  top: 40%;
  left: 52%;
  transform: translate(-50%, -50%);
  object-fit: contain;
  height: 42vw;
  width: 32vw;
}

.sosmed{
  font-family: Playfair Display;
  line-height: 150%;
  font-size: 2vw;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  width: 520px;
  font-weight: bold;
  color: #575757;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 150px;
}
.centered2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.sosmedimg{
  opacity: 0.1;
  width: 9vw;
  height: 9vw;
  object-fit: contain;
  position: absolute;
}

#email{
  left: 195px;
  top: 25px;
  width: 10vw;
  height: 10vw;
}
#wa{
  left: 200px;
  top: 215px;
}
#ig{
  right: 205px;
  top: 30px;
}
#linked{
  right: 205px;
  top: 210px;
}

#cr{
  position: absolute;
  z-index: 3;
  left: 32vw;
  bottom: 1vw;

  font-family: Playfair Display;
  font-size: 1.5vw;
  letter-spacing: 0.1em;
}

#footer{
  position: absolute;
  width: 100vw;
  height: 10vw;
  left: 0px;
  bottom: 0px;
  background: #F2F2F2;
  z-index: 2;
}
