<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Rania's Contact</title>
    <link rel="shortcut icon" type="image" href="bunga-min.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type = "text/css" href = "{% static 'css/story3.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
</head>

<body>
    <div id="footer"></div>

    <div class="navbar">
        <a href="{% url 'story4:Page1' %}"><p>Home</p></a>
        <a href="{% url 'story4:Page2' %}"><p>About</p></a>
        <a href="{% url 'story4:Page6' %}"><p>Education</p></a>
        <a href="{% url 'story4:Page4' %}"><p>Skills</p></a>
        <a href="{% url 'story4:Page3' %}"><p>Experience</p></a>
        <a href="{% url 'story4:Page5' %}"><p>Contact</p></a>
        <a href="{% url 'story4:schedule' %}"><p>Schedule</p></a>
    </div>

    <div class="split left">
        <div class="centered2">
            <a class="sosmed" href="mailto:nanaazzahra11@gmail.com">Email</a>
            <img class="sosmedimg" id="email" src="{% static 'images/email.png' %}">
            <a class="sosmed" href="tel:+6285921387321">Whatsapp</a>
            <img class="sosmedimg" id="wa" src="{% static 'images/whatsapp.png' %}">
        </div>
    </div>
                  
    <div class="split right2">
        <div class="centered2">
            <a class="sosmed" href="instagram.com/raniaaara">Instagram</a>
            <img class="sosmedimg" id="ig" src="{% static 'images/instagram.png' %}">
            <a class="sosmed" href="linkedin.com/in/rania-azzahra/">LinkedIn</a>
            <img class="sosmedimg" id="linked" src="{% static 'images/linkedin.png' %}">
        </div>
    </div>

    <div id="cr"><p>© 2019 Rania Azzahra. All Rights Reserved.</p></div>

</body>



