<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Rania's Education</title>
    <link rel="shortcut icon" type="image" href="bunga-min.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type = "text/css" href = "{% static 'css/story3.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
</head>

<body>
    <div class="split left">
        <div class="centered">
            <img id="rose" src="{% static 'images/rose.png' %}" alt="bayangan bunga">
            <p class="position2">SDIT IQRO' Bekasi <br>
                                <i>2010-2012</i></p>
            <p class="position2">SMPIT Al-Kahfi Bogor<br>
                                <i>2012-2015</i></p>
            <p class="position2">SMAN 8 Jakarta <br> 
                                <i>2015-2018</i></p>
            <p class="position2">Sistem Informasi, Universitas Indonesia <br> 
                                <i>2018-Present</i></p>
        </div>

    </div>
              
    <div class="split right">
        <div class="titleright">
            <p>Education</p>
        </div>
    </div>

    <div class="navbar">
        <a href="{% url 'story4:Page1' %}"><p>Home</p></a>
        <a href="{% url 'story4:Page2' %}"><p>About</p></a>
        <a href="{% url 'story4:Page6' %}"><p>Education</p></a>
        <a href="{% url 'story4:Page4' %}"><p>Skills</p></a>
        <a href="{% url 'story4:Page3' %}"><p>Experience</p></a>
        <a href="{% url 'story4:Page5' %}"><p>Contact</p></a>
        <a href="{% url 'story4:schedule' %}"><p>Schedule</p></a>
    </div>
</body>