<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Rania's About</title>
    <link rel="shortcut icon" type="image" href="bunga-min.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type = "text/css" href = "{% static 'css/story3.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
</head>

<body>
    <div class="split left">
        <div class="titleleft">
            <p>About</p>
        </div>
    </div>
              
    <div class="split right">
        <div class="centered">
            <img class="img-responsive" src="{% static 'images/foto.jpg' %}" alt="Foto Rania">
            <p id="about">Usually called Nana, I’m a 19 years old undergraduate student, 
                        majoring in Information System at University of Indonesia. 
                        I am a people-person who have an IT background with extensive 
                        experiences in public relations. I have a good interpersonal 
                        skills and strong willingness to learn, which makes me eager 
                        to be challenged in order to grow and further improve my skills.</p>
        </div>
    </div>

    <div class="navbar">
        <a href="{% url 'story4:Page1' %}"><p>Home</p></a>
        <a href="{% url 'story4:Page2' %}"><p>About</p></a>
        <a href="{% url 'story4:Page6' %}"><p>Education</p></a>
        <a href="{% url 'story4:Page4' %}"><p>Skills</p></a>
        <a href="{% url 'story4:Page3' %}"><p>Experience</p></a>
        <a href="{% url 'story4:Page5' %}"><p>Contact</p></a>
        <a href="{% url 'story4:schedule' %}"><p>Schedule</p></a>
    </div>
</body>