<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Rania's Experience</title>
    <link rel="shortcut icon" type="image" href="bunga-min.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type = "text/css" href = "{% static 'css/story3.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
</head>

<body>
    <div class="split left">
        <div class="centered">
            <p id="year">2019</p>
            <p class="position">Indonesia Stock Exchange <br>
                                Software Development Intern</p>
            <p class="explanation">Indonesia Stock Exchange is a stock exchange that 
                                handles securities transactions in Indonesia. I am 
                                making the User Requirements, a document that specifies 
                                what the user expects the software to be able to do, 
                                and also maintaining SMARTS' server development.</p>
            <p id="year">2019</p>
            <p class="position">COMPFEST 11 <br>
                                Staff of Direct Marketing </p>
            <p class="explanation">COMPFEST is the biggest IT event held by students. 
                                    I am promoting the event by visiting high schools, 
                                    universities, and organizations, and being the master 
                                    of ceremony of COMPFEST's events, such as Academy, 
                                    Seminar, and Competition</p>
            <p id="year">2019</p>
            <p class="position">BEM Fasilkom UI <br> 
                                Staff of Human Resources Development Bureau</p>
            <p class="explanation">BEM Fasilkom UI is an organization to serve and create 
                                    meaningful creations for the benefits of Fasilkom UI. 
                                    I am maintaining internal relations of the organization 
                                    and being the person in charge of Upgrading Week, an 
                                    event where each bureau invites a speaker for a short 
                                    course about a certain topic of their choosing.</p>
        </div>

    </div>
              
    <div class="split right">
        <div class="titleright">
            <p>Experience</p>
        </div>
    </div>

    <div class="navbar">
        <a href="{% url 'story4:Page1' %}"><p>Home</p></a>
        <a href="{% url 'story4:Page2' %}"><p>About</p></a>
        <a href="{% url 'story4:Page6' %}"><p>Education</p></a>
        <a href="{% url 'story4:Page4' %}"><p>Skills</p></a>
        <a href="{% url 'story4:Page3' %}"><p>Experience</p></a>
        <a href="{% url 'story4:Page5' %}"><p>Contact</p></a>
        <a href="{% url 'story4:schedule' %}"><p>Schedule</p></a>
    </div>
</body>