<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Rania's Skills</title>
    <link rel="shortcut icon" type="image" href="bunga-min.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type = "text/css" href = "{% static 'css/story3.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
</head>

<body>
    <div class="split left">
        <div class="titleleft">
            <p>Skills</p>
        </div>
    </div>
              
    <div class="split right">
        <div class="centered">
            <img id="rose" src="{% static 'images/rose.png' %}" alt="bayangan bunga">
            <p class="position2">Basic Programming</p>
            <p class="explanation2">Python, Java, SQL</p>
            <p class="position2">Public Speaking </p>
            <p class="explanation2">Giving Presentation, Being the Master of Ceremony</p>
            <p class="position2">Organizational </p>
            <p class="explanation2">Leadership, Communication, Teamwork</p>
            <p class="position2">English </p>
            <p class="explanation2">Limited Working Proficiency</p>
            <p class="position2">Writing </p>
            <p class="explanation2">Making Paragraph, Article, etc.</p>
        </div>
    </div>

    <div class="navbar">
        <a href="{% url 'story4:Page1' %}"><p>Home</p></a>
        <a href="{% url 'story4:Page2' %}"><p>About</p></a>
        <a href="{% url 'story4:Page6' %}"><p>Education</p></a>
        <a href="{% url 'story4:Page4' %}"><p>Skills</p></a>
        <a href="{% url 'story4:Page3' %}"><p>Experience</p></a>
        <a href="{% url 'story4:Page5' %}"><p>Contact</p></a>
        <a href="{% url 'story4:schedule' %}"><p>Schedule</p></a>
    </div>
</body>